@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
 }

 body {
    font-family: 'Open Sans', sans-serif;
}
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
 }

 .content{
    background-color: #fff;
    border-radius: 15px;

    /* para aumentar a casa*/
    width: 960px;
    height: 50%; 

    /*centralizar os itens no meio da caixa*/
    align-items: center;
    
    /*espaçar um do outro*/
    justify-content: space-between;

    position: relative;
 }

 .content::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize; /*primeiras letras em maiúsculo*/
}

.title-primary{
    color: #fff;
}

/*.title-second{
    color: #fff;
}*/

.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 5px;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover{
    background-color: #fff;
    color: #58af9b;
}

.first-column{
    text-align: center;
    /*definindo de forma proporcional as colunas*/
    flex: 1 0 auto;

    z-index: 10;
 }

.second-column{
    /*definindo de forma proporcional as colunas*/
    flex: 2 0 auto;
 }

.first-content{
    display: flex;
 }

.list-social-media{
    display: flex;
}

.form{
    display: flex;
    flex-direction: column;
 }

 .second-content{
    position: absolute;
    display: none;
 }

